
/JsfSample/nbproject/private/
/MessageDrivenBeanSample/MessageDrivenBeanSample-ejb/nbproject/private/
/MessageDrivenBeanSample/MessageDrivenBeanSample-war/nbproject/private/
/MessageDrivenBeanSample/TestMdb-client/build/
/MessageDrivenBeanSample/TestMdb-client/dist/
/MessageDrivenBeanSample/TestMdb-client/nbproject/private/
/MessageDrivenBeanSample/nbproject/private/
/PooSample/nbproject/private/
/WebTechnolobiesSample/nbproject/private/
/com.oalam.examples.jpa.entity/build/
/com.oalam.examples.jpa.entity/dist/
/com.oalam.examples.jpa.entity/nbproject/private/
/com.oalam.examples.jpa.manager/nbproject/private/
/com.oalam.gwt/build/
/com.oalam.gwt/dist/
/com.oalam.gwt/nbproject/private/
/com.oalam.hibernate/build/
/com.oalam.hibernate/nbproject/private/
/com.oalam.java/build/
/com.oalam.java/nbproject/private/
/com.oalam.jsf/build/
/com.oalam.jsf/dist/
/com.oalam.jsf/nbproject/private/
/com.oalam.mobile/nbproject/private/
/com.oalam.struts/build/
/com.oalam.struts/nbproject/private/
/com.oalam.struts2/build/
/com.oalam.struts2/nbproject/private/
/com.oalam.ws/build/
/com.oalam.ws/dist/
/com.oalam.ws/nbproject/private/
/com.oalam.xml/nbproject/private/
/com.oalam/build/
/com.oalam/com.oalam.acc/build/
/com.oalam/com.oalam.acc/dist/
/com.oalam/com.oalam.acc/nbproject/private/
/com.oalam/com.oalam.ejb/build/
/com.oalam/com.oalam.ejb/dist/
/com.oalam/com.oalam.ejb/nbproject/private/
/com.oalam/com.oalam.swing/build/
/com.oalam/com.oalam.swing/nbproject/private/
/com.oalam/dist/
/com.oalam/nbproject/private/
/com.olam.ws.test/build/
/com.olam.ws.test/dist/
/com.olam.ws.test/nbproject/private/
/design-patterns/nbproject/private/
/jsp/nbproject/private/
/servlets/build/
/servlets/nbproject/private/
/xml/build/
/xml/nbproject/private/